@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "EB Garamond", serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 240, 232);
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav menu */
.nav-container {
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

/* hamburger logo */
.nav-toggle img {
  width: 5rem;
}

/* logo in nav */
.logo img {
  width: 5rem;
  margin: 1rem 2rem 0 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu button {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.nav-menu li {
  margin: 0 10px;
}

#regulation-btn a {
  text-decoration: none;
  color: black;
}

.nav-toggle button {
  display: none;
  scale: 0.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#menu-close {
  display: none;
  scale: 0.5;
}

/* main */

.main-container {
  width: 90%;
  height: 80vh;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/src/images/gordon-2.jpeg);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.text-container {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
  padding: 10px;
}
.text-container h1 {
  margin-bottom: 20px;
}

.key-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  padding-bottom: 2rem;
}

.key-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.key-wrapper img {
  width: 70%;
  margin-left: 10px;
}

.key-wrapper div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.key-wrapper span {
  margin-top: 10px;
}

/* News */

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  margin: 10px auto;
}

.news-container {
  margin-top: 5rem;
}

/* About  */

.about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 50%;
  margin: 10rem auto;
}

.photo {
  width: 50%;
  height: 50%;
  padding-left: 20rem;
}
.photo img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
.about-container {
  width: 50%;
}
.about-container h2 {
  font-size: 40px;
}

.about-container p {
  font-size: 18px;
}

/* Opinions  */

.opinions {
  width: 100vw;
  height: 50vh;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opinions h2 {
  margin: 10px auto;
}

.card-container img {
  width: 100%;
}

.card-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 1em;
  width: 40%;
  height: 25rem;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

.slider {
  display: flex;
  transition: transform 1000ms ease-in-out;
}

/* Social media */

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 10px auto;
}

.media-container a {
  font-size: 40px;
  text-decoration: none;
  margin: 0px 15px 15px 15px;
}

.fa-facebook {
  color: #1877f2;
}

.fa-instagram {
  color: #c32aa3;
}

.fa-spotify {
  filter: invert(1);
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

/* Nav link */
/* lessons */
.lessons {
  width: 90%;
  min-height: 80vh;
  margin: 10px auto;
  margin-bottom: 5rem;
}

.gordon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.gordon-img img {
  width: 40%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 10rem;
}

.gordon-text {
  width: 100%;
  height: 50%;
  margin-left: -5rem;
}

/* Blog */
.blog {
  width: 90%;
  min-height: 80vh;
  margin: 10px auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
/* Offer */
.offer {
  width: 90%;
  min-height: 80vh;
  margin: 10px auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.offer-text {
  display: flex;
  justify-content: center;
}
.offer-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Offer cards */
.offer-card img {
  width: 100%;
}

.offer-card {
  width: 150px;
  height: 210px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

.offer-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  padding: 2px 16px;
}

/* Flip card experiment */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  margin: 10px auto;
  font-size: 13px;
  color: black;
  transform: rotateY(180deg);
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 80vh;
  margin: 10px auto;
  margin-bottom: 5rem;
}

.contact-img img {
  width: 40%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 25rem;
}

.contact-text {
  margin-bottom: 10rem;
  width: 60%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.social-contact a {
  text-decoration: none;
  font-size: 40px;
  margin: 15px 15px 15px 0px;
}

/* RWD */

@media screen and (max-width: 1440px) {
  .news h2 {
    margin-bottom: -2rem;
  }

  .about img {
    margin-left: -15rem;
  }

  .key-wrapper {
    width: 80%;
  }

  .contact {
    margin-right: 10rem;
  }

  .contact-text {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .news h2 {
    margin-bottom: -2rem;
  }

  .key-wrapper {
    width: 90%;
  }
  .about img {
    margin-left: -15rem;
  }

  .contact img {
    margin-left: 15rem;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  /* navbar */
  .nav-container {
    min-height: 5rem;
    height: fit-content;
  }

  .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-toggle button {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
  }

  .nav-menu li {
    padding: 0.5rem;
  }

  /* Main */

  .main-container {
    width: 80%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: none;
    box-shadow: none;
  }

  .text-container {
    font-size: 15px;
    padding: 10px;
  }

  .key-container {
    padding-top: 10rem;
  }
  .logo-container img {
    display: none;
  }

  .text-container {
    width: 100%;
  }

  .text-container span {
    font-weight: bold;
  }

  /* News */

  .news h2 {
    margin-bottom: -2rem;
  }
  /* About */

  .photo {
    display: none;
  }

  .about-container {
    width: auto;
  }
  .about-container h2 {
    font-size: 35px;
  }

  .about-container p {
    font-size: 15px;
  }

  /* opinions */
  .opinions h2,
  .card-container {
    display: none;
  }

  /* lessons */
  .gordon-img {
    display: none;
  }

  .gordon-text {
    width: auto;
    margin: auto;
  }

  /* contact */
  .contact-img {
    display: none;
  }

  .contact-text {
    width: auto;
    margin: auto;
  }
}

/* Mobile L */
@media screen and (max-width: 425px) {
  .main-container {
    width: auto;
    margin: 5px;
    background-image: none;
    box-shadow: none;
  }

  .text-container {
    margin-bottom: -5rem;
  }

  .key-wrapper {
    margin-bottom: 5rem;
  }
  .news {
    width: auto;
    margin: 20rem auto;
  }
  .news h2 {
    margin-bottom: 2rem;
    padding: 10px;
  }

  .about-container {
    width: auto;
  }
}

/* Mobile M */
@media screen and (max-width: 395px) {
  .main-container {
    width: auto;
    margin: 5px;
    background-image: none;
    box-shadow: none;
  }

  .text-container {
    margin-bottom: -5rem;
  }

  .key-wrapper {
    margin-bottom: 5rem;
  }
  .news {
    width: auto;
    margin: 20rem auto;
    padding: 5px;
  }
  .news h2 {
    margin-bottom: 2rem;
  }

  .about-container {
    width: auto;
  }
}

/* Mobile S */
@media screen and (max-width: 320px) {
  .nav-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
  }

  .main-container {
    width: auto;
    margin: 5px;
    background-image: none;
    box-shadow: none;
  }

  .text-container {
    margin-bottom: -5rem;
  }

  .key-wrapper {
    margin-bottom: 5rem;
  }
  .news {
    width: auto;
    margin: 20rem auto;
    padding: 5px;
  }

  .about-container {
    width: auto;
    font-size: 5px;
  }

  .opinions h2,
  .card-container {
    display: none;
  }
}
